{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0-RC2"}}
 :aliases
 {:check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                        :sha "dde919d1b10af4ee18944a212d914654302c5838"}}
          :main-opts ["-m" "clj-check.check"]}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
